@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  overflow: hidden;
  margin: 0;
  font-family: Roboto, sans-serif;

  display: flex;
  flex-direction: column;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

.header, .footer{
  display: flex;
  justify-content: space-between;
}

.footer {
  background-color: #eee;
  margin-top: auto;
}

.left-links, .right-links{
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
}

.left-links li a, .right-links li a {
  text-decoration: none;
  color: gray;
}

.left-links li {
  margin: 16px 0 16px 16px
}

.right-links li {
  margin: 16px 16px 16px 0
}

.content {
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 16px;
  margin-top: auto;
}

.input, .buttons{
  align-self: center;
}

.buttons button {
  padding: 8px 16px;
}
